/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Form Styles */
#userForm {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

#userForm label {
  display: block;
  margin-bottom: 5px;
}

#userForm input[type="text"],
#userForm input[type="email"],
#userForm input[type="tel"] {
  width: calc(33.33% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  box-sizing: border-box;
}

#userForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#userForm button[type="submit"]:hover {
  background-color: #45a049;
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  margin-right: 5px;
}

button:hover {
  background-color: #45a049;
}
